:root {
    --basic-shadow: 0px 2px 4px 1px rgba(0,0,0,.3);
    --navigator--height: 50px;
    --navigator--margin: 1em;
    --navigator__link--margin: 1em;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

.header {
    height: var(--navigator--height, 100px);
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    background: white;
}

.header--shadow {
    box-shadow: var(--basic-shadow, 0px 0px 4px 0px black);
}

.header__logo {
    padding: 4px;
    color: rgba(135, 18, 245, 0.7);
}


.header__title {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    line-height: 100%;
}

.navigator {
    display: flex;
    align-items:center;
    width: 100%;
}

.navigator__item {
    display: inline;
}

.nav-link {
    color: black;
    text-transform: capitalize;
    margin: var(--navigator__link--margin, 0 1em);
    text-decoration: none;
    transition: all 100ms ease-in-out;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-link:hover {
    font-size: 1.05em;
}

.opening {
    margin-top: var(--navigator--height, 50px);
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.opening__background {
    position: absolute;
    width: 100%;
    height: 400px;
    z-index: -1;
    background: rgb(0,0,0);
    background: linear-gradient(0.25turn, rgba(135, 18, 245, 0.7), rgba(135, 18, 245, 0.2)),linear-gradient(0.25turn, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/110303_CNPP_LSC_0218_%2813065103155%29.jpg/1024px-110303_CNPP_LSC_0218_%2813065103155%29.jpg");
    background-size: cover;
}

.opening__heading {
    font-size: 4em;
    color: rgba(255,255,255,0.9);
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 20px auto;
}

.opening__heading--small {
    font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px auto 20px auto;
}

.opening--shadow {
    box-shadow: var(--basic-shadow, 0px 0px 4px 0px black);
}

.email-field {
    border-color: transparent;
    font-size: 2em;
    transition: all 300ms ease-in-out;
}

.btn {
    border-color: transparent;
    background-color: rgba(255,255,255,0.7);
    cursor: pointer;
    font-size: 2em;
    transition: all 100ms ease-in-out;
    margin-left: 2px;
    margin-right: 2px;
}

.btn:hover {
    background-color: rgba(255,255,255,1);
}

.btn--black {
    background-color: rgba(0,0,0,0.7);
    color: white;
}


.btn--black:hover {
    background-color: rgba(0,0,0,1);
}

.btn--purple {
    background-color: rgba(135,18,245,0.6);
    color: white;
}

.btn--purple:hover {
    background-color: rgba(135,18,245,0.8);
    color: white;
}

.article-heading {
    padding-top: calc((100vh - var(--navigator--height, 100px))/ 20);
    text-align: center;
    padding-bottom: 1em;
    font-size: 3em;
}

.features-list {
    display: flex;
    justify-content: space-around;
}


.features-list__item {
    padding: 3em;
    width: 15vw;
    box-shadow: var(--basic-shadow);
    border: 10px solid transparent;
    border-image-source: linear-gradient(0.25turn, rgba(135, 18, 245, 0.8), rgba(135, 18, 245, 0.5));
    border-image-slice: 1;
}

@media screen and (max-width: 800px) {
    .features-list {
        flex-direction: column;
        align-items: center;
    }

    .features-list__item {
        width: 50vw;
        margin-bottom: 2em;
    }

    .navigator {
        flex-direction: column;
        align-items: center;
    }

    .header {
        flex-direction: row;
        height: auto;
    }

    .header__logo {
        width: 10vw;
    }
}

@media screen and (max-width: 400px) {
    .features-list__item {
        border-bottom: 10px solid transparent;
        border-top: 10px solid transparent;
        width: 100vw;
    }
}


.features-list__item__feature {
    font-size: 2em;
    text-align: center;
}

.features-list__item__explanation {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.how-it-works__background {
    background: linear-gradient(0.25turn, rgba(135, 18, 245, 0.5), rgba(135, 18, 245, 0.4));
    padding: 1em;
    box-shadow: var(--basic-shadow);
}

.how-it-works__video {
    margin: auto;
    display: block;
    box-shadow: var(--basic-shadow);
}

@media screen and (max-width: 800px) {
    .how-it-works__video {
        width: 100%;
    }
}

.pricing-list {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.pricing-list__item {
    box-shadow: var(--basic-shadow);
    padding: 2em;
    margin: 1em;
    width: 100%;
}

.pricing-list__item__plan {
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
}

.pricing-list__item--basic {
    border-bottom: 10px solid transparent;
    border-image-source: linear-gradient(0.25turn, rgba(0,0,0, 0.8), rgba(0,0,0, 0.3));
    border-image-slice: 1;
}

.pricing-list__item--premium {
    border-bottom: 10px solid transparent;
    border-image-source: linear-gradient(0.25turn, rgba(255, 196, 0, 0.8), rgba(255,196,0, 0.3));
    border-image-slice: 1;
}

.pricing-list__item--vip {
    border: 10px solid transparent;
    border-image-source: linear-gradient(0.25turn, rgba(230, 255, 0, 1), rgba(230,255,0, 0.3));
    border-image-slice: 1;
}

.pricing-list__item__explanation {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding-bottom: 1em;
}

.order-item {
    width: 100%;
    text-align: center;
}